@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-primary: #1a1a1a;
  --color-accent: #c5a059;
  --color-bg-light: #fdfcfb;
  --color-dark-text: #1a1a1a;
  --color-muted-text: #717171;
}

@layer base {
  body {
    @apply bg-bg-light text-dark-text font-sans antialiased;
  }
  
  h1, h2, h3, .font-serif {
    @apply font-serif;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Custom Utilities */
.text-balance {
  text-wrap: balance;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
